.row {
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    justify-content: center;   
    flex-grow: 100; 
  }
      .column {
        flex: 25%;
       max-width: 25%;
        padding: 10px;
   
      }
      .column img {
        margin-top: 1rem;
        vertical-align:middle;
  
      } 
      @media (max-width: 800px) {
        .column {
          flex: 100%;
          max-width: 100%;
  
        }
      }
      @media (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }
      
      .flex-parent {
        display: flex;
      background-color:#da7727;
        justify-content:space-around;
        align-items: center;
  
        flex-direction:column;
        padding:100;
      }
     
      .flex-parent > div {
        margin: 20px;
        padding: 100px;
        font-size: 10rem;
        justify-content: center;
        align-items: center;
  
      }
  